.container {
    padding-top:100px; /*IMPORTANT pour que la navbar ne mange pas l'image dès le chargement*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.waste {
    margin:5px;
    color: black;
    width: 500px;
}

.waste img{
    height: 300px;
    width: auto;
    padding:10px;
}

.bins {
    padding-top: 50px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}

.bin {
    padding: 70px;
}

.green {
    background-color: green;
    border-style : solid;
    border-radius :30px;
    border-color:black;
    margin : 5px;
}

.green:hover {
    margin : 1px;
    background-color: darkgreen;
}

.blue {
    background-color: blue;
    border-style : solid;
    border-radius :30px;
    border-color:black;
    margin : 5px;
}

.blue:hover {
    margin : 1px;
    background-color: darkblue;
}

.yellow {
    background-color: yellow;
    border: black solid;
    border-radius :30px;
    margin : 5px;
}

.yellow:hover {
    margin : 1px;
    background-color: darkgoldenrod;
}

.reset{
    margin: 20px;
}

.press {
    color : black;
    background-color: lightgreen;
    border: black solid 1px;
    border-radius: 30px;
    padding: 10px;
}

.press:hover {
    margin: 1px;
    background-color: #3fa46a;
}