*{
    margin:0;
    padding:0;
}

#associations{
    display:flex;
}
article{
    height:200px;
    width:200px;
    display:flex;
}

section{
    padding:20px;
}

h1{
    display:flex;
    justify-content: center;
}
p, ul,li{
    margin:10px;
}
