
/*A mettre une seule fois en haut de la page pour s'assurer de bien toucher les bords des écrans*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import url('https://fonts.googleapis.com/css?family=Lato');

/* ------------------------DEBUT DE LA SECTION HEADER & BANNER */
a {
  color: #fff;
  text-decoration: none;
}

.inline_menu {
  display: none;
}

/* Apparence de la navbar du header */
.menu {
  background: #3fa46a;
  color: #fff;
  height: 50px;
  position: fixed; /* Met la navbar en position fixed */
  top: 0; /* Positionne la navbar en haut de la page */
  width: 100%; /* Full width */
}

/* Apparence du titre de la navbar */
.menu .title {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  padding: 0 20px;
  text-transform: uppercase;
}

/* Apparence de l'intérieur du menu une fois ouvert */
.menu nav {
  background: inherit;
  font-size: 10px;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  text-transform: uppercase;
  transition: height .2s;
}

.menu nav > * {
  display: block;
  letter-spacing: 1px;
  line-height: 2.5;
  padding: 0 20px;
  width: 100%;
  text-align: start;
}

.menu nav input {
  background: rgba(0,0,0,.2);
  border: none;
  color: #fff;
}

/* Apparence du texte à l'intérieur du menu */
.menu .burger {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 20px;
  line-height: 50px;
  margin: 10px 0px;
  outline: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 0;
  right: 10px;
  width: auto;
}

/* Image à afficher pour ouvrir le menu */
.menu .burger:before {
  content: url('./img/menu.png');
}

/* Image à afficher une fois le menu ouvert */
.menu .burger:checked:before {
  content: url('./img/close.png');
}

/* Gestion de la taille du menu une fois ouvert */
.menu .burger:checked + nav {
  height: auto;
  width: auto;
  margin-left: 70%;
}

.banner {
  display: block;
  width: auto;
}

.banner img {
  max-width: 100%;
  max-height: 100%;
}


/*------------------------------DEBUT SECTION GESTION DECHETS*/
  /*Dimmensionnement des images*/
.poubelle, .carte{
    height: 200px;
    width: 200px;
    margin: 2Opx;
}

/*classe gérant l'intégralité de la section gestion des déchets*/
.gestion {
    background-color: lightgreen;;
}

.gestion h3, .gestion img{
    margin: 20px;
}

/*articles*/
.conseil, .collecte {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gestion h2{
    text-align: center;
    padding: 20px;
}
/*------------------------------FIN SECTION GESTION DECHETS*/

/*=================ACTIONS====================*/
#actions{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#actions img{
  height: 150px;
  width: 200px;

}
h1{
  text-align: center;
}


/* =============== CSS CONTACT ============ */


h3 {
    text-align: center;
}



* {
  box-sizing: border-box;
}

input[type=text], input[type=email],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  margin-top: 6px;  
}

.label{
  text-align: center;
}

input[type=submit] {
  background-color: #6F6F6F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  width: 100%;  
}

input[type=submit]:hover {
  background-color: #626161;
}

#contact {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  
}

.formulaire {
  margin-top: 6px;
}



/* ================ CSS FOOTER =============== */

footer{
  background-color: #6F6F6F;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 50px;
  

}
footer img{
  width: 60px;
  padding: 5px;   
}

.footer_lien{
  font-size: 20px;
}

.mentions{
  margin: 15px 0px 15px 0px;
  font-size: 15px;
  color: #f2f2f2;
}



/* ================ CSS MEDIA ================ */

@media screen and (min-width: 640px) {
  /* ========== HEADER ========= */

  .menu .burger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  .menu .title {
    display: flex;
    justify-content: flex-start;
    width: 300px;
  }

  .menu .inline_menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .hover_style {
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
  }

  .hover_style:hover {
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
  }


  /*========== CONTACT ===============*/
    .label{
    display: inline-block;
    width: 15%;
    margin-top: 6px;
    text-align: end;
  }
  .formulaire{
    display: inline-flex;
    width: 75%;
    margin-top: 6px;
  }
  input[type=submit]{
    margin: 6px auto;
    width: 30%;
    display: block;
    cursor: pointer;       
  }
  .container{
    margin: -10px;
  }


 /*====================FOOTER ================*/

  footer img{
    opacity:0.6;
  }
  footer img:hover{
    opacity: 1;
  }



    /*================== ACTIONS================*/
    #actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    #actions img{
        height: 150px;
        width: 200px;
    }

    /*=============== GESTION DES DECHETS=================*/
    .conseil, .collecte{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .conseil h3, .collecte h3{
        width: 100%;
    }
    .conseil p, .collecte ul{
        width: 50%;
    }

    .collecte img{
        order: 2;
    }

 
/*      CSS ASSOCIATIONS         */
#associations{
    display:flex;
}
#associations article{
    height:200px;
    width:200px;
    display:flex;
}

#associations h1{
    display:flex;
    justify-content: center;
}
#associations p, ul,li{
    margin:10px;
}
}