/*A mettre une seule fois en haut de la page pour s'assurer de bien toucher les bords des écrans*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*Dimmensionnement des images*/
.poubelle, .carte{
    height: 200px;
    width: 200px;
    margin: 2Opx;
}

/*classe gérant l'intagrélité de la section gestion des déchets*/
.gestion {
    background-color: lightgreen;
}

/*Premier article*/
.conseil, .collecte {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collecte li{
    text-align: center;
}

.gestion h2{
    text-align: center;
    padding: 20px;
}