
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Lato');

/*==============HEADER==============*/
a {
    color: #fff;
    text-decoration: none;
  }
  
  .inline_menu {
    display: none;
  }
  
  /* Apparence de la navbar du header */
  .menu {
    background: #3fa46a;
    color: #fff;
    height: 50px;
    position: fixed; /* Met la navbar en position fixed */
    top: 0; /* Positionne la navbar en haut de la page */
    width: 100%; /* Full width */
  }
  
  /* Apparence du titre de la navbar */
  .menu img{
      height: 80px;
      width: 250px;
      margin-left: 20px
    }
  
  
  /* Apparence de l'intérieur du menu une fois ouvert */
  .menu nav {
    background: inherit;
    font-size: 10px;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    text-transform: uppercase;
    transition: height .2s;
  }
  
  .menu nav > * {
    display: block;
    letter-spacing: 1px;
    line-height: 2.5;
    padding: 0 20px;
    width: 100%;
    text-align: start;
  }
  
  .menu nav input {
    background: rgba(0,0,0,.2);
    border: none;
    color: #fff;
  }
  
  /* Apparence du texte à l'intérieur du menu */
  .menu .burger {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 20px;
    line-height: 50px;
    margin: 10px 0px;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
    right: 10px;
    width: auto;
  }
  
  /* Image à afficher pour ouvrir le menu */
  .menu .burger:before {
    content: url('/img/menu.png');
  }
  
  /* Image à afficher une fois le menu ouvert */
  .menu .burger:checked:before {
    content: url('/img/menu.png');
  }
  
  /* Gestion de la taille du menu une fois ouvert */
  .menu .burger:checked + nav {
    height: auto;
    width: auto;
    margin-left: 70%;
  }

  /*==============ACTIONS===========*/

  #background_color{
    background-color: #FFFDC7;
  }
.information img{
    display: none;
}

h1{
  text-transform: uppercase;
  color: #61A93E;
  margin-top: 80px;
  font-size: 40px;
  padding: 40px;
}

.nom_img img{
    height: 210px;
    width: 250px;
    margin: 20px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.nom_img{
    text-align: center ;
}

.information div{
    margin: 0 50px;
}
.information div p{
    text-align: justify;
    padding: 15px;
    line-height: 160%;
 }
.information h3{
    padding: 35px;
    font-size: 25px;
    color: #61A93E;
}
.description h3{
    padding: 10px 35px;
    font-size: 25px;
    color: #61A93E;
}
/*---------------------Energie Renouvelable et Tri SAC-----------------*/
.energie, .tri-sac{
    display: flex;
    flex-direction: column;
}

.energie div, .tri-sac div{
  border-radius: 5%;
  width: 80%;
  padding:20px ;
  margin: 20px auto;
  background-color: #61A93E;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.energie p, .tri-sac p{
  padding: 20px;
  width: 90%;
  text-align: justify;
  margin: 0 auto;
  color: white;
  line-height: 150%
}

.energie h4, .tri-sac h4{
  text-align: center;
  text-transform: uppercase;
  background-color: #FFF;
  width: 60%;
  margin: 0 auto;
  border-radius: 4%;
  padding: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.tri-sac h5{
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.energie ul li, .tri-sac ul li{
  margin: -10px 0px 10px 20%;
  color: white;
}
  /*-------------------Manger bio, manger local---------------------------*/

.bio{
  line-height: 170%;
  background-color: #61A93E;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  color: white;
}
.distributeur-bio div{
  border-radius: 5%;
  width: 80%;
  padding:20px ;
  margin: 20px auto;
  line-height: 150%;
  text-align: justify;
}
.distributeur-bio h4{
  text-align: center;
  text-transform: uppercase;
  background-color: #FFF;
  width: 60%;
  margin: 20px auto;
  border-radius: 4%;
  padding: 5px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/*==============FOOTER===========*/
footer{
  background-color: #6F6F6F;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  

}
footer img{
  width: 60px;
  padding: 5px;   
}

.footer_lien{
  font-size: 20px;
}

.mentions{
  margin: 15px 0px 15px 0px;
  font-size: 15px;
  color: #f2f2f2;
}









  /* ================ CSS MEDIA ================ */

@media screen and (min-width: 640px) {
    /* ========== HEADER ========= */
  
    .menu .burger {
      display: none;
    }
  
    .menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
    }
  
    .menu .title {
      display: flex;
      justify-content: flex-start;
      width: 300px;
    }
  
    .menu .inline_menu {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;
    }
  
    .hover_style {
      transition: 0.3s ease;
      background: #3fa46a;
      color: #ffffff;
      font-size: 15px;
      text-decoration: none;
      border-top: 4px solid #3fa46a;
      border-bottom: 4px solid #3fa46a;
    }
  
    .hover_style:hover {
      border-top: 4px solid #ffffff;
      border-bottom: 4px solid #ffffff;
      padding: 6px 0; 
    }

    /*==========MEDIA ACTION==============*/
    .information h3{
        text-align: center;
    }
    .description h3{
        text-align: center;
    }
    .nom_img img {
        display: none;
    }
    
    .information div{
        display: flex;
        align-items: center;
        text-align: justify;
    }

    .information img{
        display: block !important;
        height: 210px;
        width: 250px;
        margin: 20px;
        border-radius: 10%;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .energie, .tri-sac, .distributeur-bio{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }

    .energie div{
      width: 25%;
      margin: 20px;
    }
    .tri-sac div{
      width: 45%;
    }

    .distributeur-bio div{
      width: 33%
    }

    .mangerbio{
      height: 420px !important;
      width: 400px !important;
      border-radius: 10%;
    }

    
    /*========FOOTER========*/
    footer img{
      opacity:0.6;
    }
    footer img:hover{
      opacity: 1;
    }
    .lien{
      text-align: left;
      display: flex;
      justify-content: space-around;
    }
    .footer_reseaux{
      order: 1;
    }
  }